@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.pokemon-container {
  background-color: white;
  width: 60%;
  border-radius: 3px;
  margin-left: 20%;
  padding: 5px;
}

.name {
  font-size: 45px;
  padding-top: 10px;
  font-family: "Luckiest Guy", cursive;
  color: #323d48;
}

[class*="poke-"] {
  border-radius: 4px;
  margin: 0 9% 0 9%;
}

.poke-electric {
  background-color: #ffea7066;
}

.poke-normal {
  background-color: #b0939866;
}
.poke-fire {
  background-color: #ff675c66;
}
.poke-water {
  background-color: #0596c766;
}
.poke-ice {
  background-color: #afeafd66;
}
.poke-rock {
  background-color: #99979966;
}
.poke-flying {
  background-color: #7ae7c766;
}
.poke-grass {
  background-color: #4a968166;
}
.poke-psychic {
  background-color: #ffc6d966;
}
.poke-ghost {
  background-color: #561d2566;
}
.poke-bug {
  background-color: #a2faa366;
}
.poke-poison {
  background-color: #79566366;
}
.poke-ground {
  background-color: #d2b07466;
}
.poke-dragon {
  background-color: #da627d66;
}
.poke-steel {
  background-color: #1d8a9966;
}
.poke-fighting {
  background-color: #2f2f2f66;
}
.poke-fairy {
  background-color: #cca9dd66;
}

.img-pokemon {
  width: 200px;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 18px;
  font-family: "Luckiest Guy", cursive;
  margin: 3% 9% 3% 9%;
  color: #323d48;
}

.particular-info {
  display: flex;
  flex-direction: column;
  width: 41%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #999;
  border-radius: 3px;
  background-color: #dcdcdc66;
}
.general-info {
  width: 51%;
  text-align: center;
  padding-left: 20px;
  border-radius: 3px; 
}

.general-info > div {
  text-align: center;
  box-shadow: 2px 2px 5px #999;
  border-radius: 3px;
  padding: 2px 0 2px 0;
  background-color: #dcdcdc66;
}

.types {
  margin-top: 10px;
}
